<nav class="navbar">
    <div class="navbar-content">
      <img src="/images/countries-1301799_1280.webp" alt="Logo" class="logo">
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/agregar">Agregar País</a></li>
      </ul>
    </div>
  </nav>
  
  
  
