<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Paises App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="wrapper"> <!-- NUEVO contenedor principal -->
    <%- include('partials/navbar') %>

    <main>
      <%- body %>
    </main>

    <%- include('partials/footer') %>
  </div>
</body>
</html>
